<div class="searchbar">
    <div class="form-container">
      <form action="" (submit)="onFiltrar()" autocomplete="off">
        <input type="text" [(ngModel)]="termino" name="termino"  placeholder="Search for Name">
      </form>
      <mat-icon>search</mat-icon>
    </div>

  <div class="filters" (click)="openFilters()">
    <mat-icon >tune</mat-icon>
    <span>Filters</span>
  </div>

  <div class="filter-list">
    <ul>
      <li *ngFor="let item of filtersList | unique">
        <span>{{item[0]}}: {{item[1]}} </span>
      </li>
    </ul>
  </div>
  <span class="clearfilters" (click)="cleanFilters()">Clear filters</span>
</div>
