<div class="mainbody">
  <div class="row-total">
    <span>$</span><span>145,000.00 USD</span>
  </div>
  <div class="row-table">

<table class="tabledata">
  <thead>
<tr>
  <th class="status">Status</th>
  <th class="supplier">Supplier Name</th>
  <th class="month">Month</th>
  <th class="phase">Phase</th>
  <th class="internal">Internal Order</th>
  <th class="amount">Amount (USD)</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td class="status">
    <span class="badgecolor active">&nbsp;</span>
    <span>Nombnre completo</span>
  </td>
  <td class="supplier">Supplier Name</td>
  <td class="month">Montd</td>
  <td class="phase">Phase</td>
  <td class="internal">Internal Order</td>
  <td class="amount">Amount (USD)</td>
</tr>
<tr>
  <td class="status">
    <span class="badgecolor pending">&nbsp;</span>
    <span>Nombnre completo</span>
  </td>
  <td class="supplier">Supplier Name</td>
  <td class="month">Montd</td>
  <td class="phase">Phase</td>
  <td class="internal">Internal Order</td>
  <td class="amount">Amount (USD)</td>
</tr>
<tr>
  <td class="status">
    <span class="badgecolor waiting">&nbsp;</span>
    <span>Nombnre completo</span>
  </td>
  <td class="supplier">Supplier Name</td>
  <td class="month">Montd</td>
  <td class="phase">Phase</td>
  <td class="internal">Internal Order</td>
  <td class="amount">Amount (USD)</td>
</tr>
<tr>
  <td class="status">Status</td>
  <td class="supplier">Supplier Name</td>
  <td class="month">Montd</td>
  <td class="phase">Phase</td>
  <td class="internal">Internal Order</td>
  <td class="amount">Amount (USD)</td>
</tr>



  </tbody>
</table>
  </div>
</div>
